@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-SemiBold.eot');
	src: url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-SemiBold.woff2') format('woff2'),
		url('../fonts/SegoeUI-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI.eot');
	src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI.woff2') format('woff2'),
		url('../fonts/SegoeUI.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Light.eot');
	src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Light.woff2') format('woff2'),
		url('../fonts/SegoeUI-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}