.about-us {
    padding-top: 55px;
//    text-align: center;
    background: url("../img/main-block-bg.png") 0 0 no-repeat;
    background-size: cover;
     @media #{$mobile} {
        padding-top: 30px;
    }
    &__border-bottom {
        max-width: 970px;
        margin-bottom: 96px;
        margin-left: 40px;
        text-align: center;
        border-bottom: 1px dotted #9f9f9f;
        
    }
    
    &__name {
        @include seg-l(30px, 50px);
        margin-bottom: 18px;
        margin-left: 29px;
        margin-top: 21px;
        padding-bottom: 2px;
        text-align: left;
        border-bottom: 1px dotted #9f9f9f;
        color: #444444;
        &--mb {
            margin-bottom: 85px;
            
             @media #{$mobile} {
                margin-bottom: 30px;
            }
        }
    }
    &__text {
        padding-bottom: 8px;
        padding-left: 1px;
    }
    &__list {
        margin-bottom: 28px;
        margin-left: 49px;
    }
    &__item {
        display: inline-block;
        margin-right: 55px;
        padding: 5px;
        width: 275px;
        text-align: left;
        border: 1px solid #ebebeb;
        background: #fff;
        &:last-child {
            margin-right: 0;
        }
        
         @media #{$mobile} {
                margin: 15px;
        }
    }
    &__thumb {
//        margin-bottom: 10px;
    }
    &__title {
//        margin-bottom: 10px;
        margin-top: 4px;
        margin-left: 5px;
    }
    &__link-t {
        @include rob-l(15px, 29px);
        text-transform: uppercase;
        color: #444444;
    }
    &__link {
        @include seg-reg(13px, 20px);
        color: #949494;
    }
}