.description {
    margin-top: 45px;
    padding-bottom: 70px;
    text-align: center;
    
     @media #{$mobile} {
        padding-bottom: 30px;
    }
    
    &__block {
        @media #{$mobile} {
        margin-bottom: 30px;
    }
    }
    
    
    
    &__title {
        @include seg-l(30px, 20px);
        position: relative;
        padding-top: 130px;
        margin-bottom: 30px;
        color: #5a5b5c;
            @media #{$mobile} {
            padding-top: 120px;
            margin-bottom: 15px;
    }
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 50%;
            margin-left: -52px;
            width: 104px;
            height: 104px;
            border: 7px solid #000;
            border-radius: 100%;
        }
        
        &::after {
            position: absolute;
            content: "";
            top: 13px;
            left: 50%;
            margin-left: -39px;
            width: 77px;
            height: 77px;
            background: #c8e124;
            border-radius: 100%;
        }
        
        
    }
    
    &__icon-1 {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            top: 29px;
            left: 50%;
            margin-left: -16px;
            width: 39px;
            height: 49px;
            background: url('../img/icon-1.png') 0 0 no-repeat;
            z-index: 1;
            
        }
    }
    
    &__icon-2 {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            top: 29px;
            left: 50%;
            margin-left: -16px;
            width: 39px;
            height: 49px;
            background: url('../img/icon-2.png') 0 0 no-repeat;
            z-index: 1;
            
        }
    }
    
    &__icon-3 {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            top: 29px;
            left: 50%;
            margin-left: -16px;
            width: 39px;
            height: 49px;
            background: url('../img/icon-3.png') 0 0 no-repeat;
            z-index: 1;
            
        }
    }
    
    &__text {
        @include seg-l(13px, 20px);
        padding-left: 20px;
        text-align: justify;
        color: #777879;
        
    }
}