.header {
    &__bg {
        background: #2e2729;
    }
    &__nav {
        margin-bottom: 0;
        min-height: 85px;
        line-height: 85;
        background: #2e2729;
        border-color: #2e2729;
    }
}